{% extends 'login.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Регистрация{% endblock title %}</title>
</head>
<body>

    {% block login %}

    {% endblock login %}


    {% block registration %}
    <div class="container">
        <form method="POST" class="login-form">
            {% csrf_token %}

            <div class="row justify-content-center">
                <div class="col-md-3 mt-3">
                    <input type="text" name="username" class="form-control" placeholder="Имя пользователя" id="validationTooltip03" required/>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-3 mt-3">
                    <input type="email" name="email" class="form-control" placeholder="E-mail" id="validationTooltip03" required/>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-3 mt-3">
                    <input type="password" name="password" class="form-control" placeholder="Пароль" id="validationTooltip03" required/>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-3 mt-3">
                    <input type="password" name="password2" class="form-control" placeholder="Повторите пароль" id="validationTooltip03" required/>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary mt-4 text-center">Регистрация</button>
            </div>
        </form>
    </div>
    {% endblock registration %}

    
  
    

</body>
</html>