{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Заметки{% endblock title %}</title>
</head>

<body>

    {% block one %}


    <div class="container p-3 ">




        <div class="row gx-4 gx-lg-5 my-2 ">
            {% if my_notes.count == 0 %}

            
            <div class="col-md-4 p-2 border-primary ">
                <div class="card border-primary h-100 text-center ">
                    <div class="card-body text-xs-center my-5">
                        <a class="btn btn-primary" href="{% url 'new_note' %}">Создать заметку</a>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-md-4 p-2 border-primary ">
                <div class="card border-primary h-100 text-center ">
                    <div class="card-body text-xs-center my-5">
                        <a class="btn btn-primary" href="{% url 'new_note' %}">Создать заметку</a>
                    </div>
                </div>
            </div>

            {% for mn in my_notes %}
            <div class="col-md-4 my-0 p-2 border-primary">
                <div class="card border-primary {{mn.bg_color}} h-100">
                    <div class="card-header border-dark ">
                        {{mn.title}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-text text-dark ">{{mn.content|truncatechars:20}}</h5>
                    </div>
                    <div class="card-footer border-dark ">

                        <a class="btn btn-light btn-sm " href="{% url 'edit_note' mn.pk %}">Изменить</a>
                        <div class="btn-group mr-3">
                            <button class="btn btn-light bg-light btn-sm dropdown-toggle" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Функции
                            </button>


                            <div class="dropdown-menu dropdown-menu-right p-0 pull-right">
                                <!-- <a class="dropdown-item " href="#">Изменить цвет</a> -->


                                <h6 class="dropdown-header text-dark">Изменить фон</h6>
                                <a class="dropdown-item text-white bg-primary p-3 " value="bg-secondary"
                                    name="secondary" href="{% url 'change_color' mn.pk mn.Color_bg_1 %}"></a>
                                <div class="dropdown-divider m-0"></div>
                                <a class="dropdown-item text-white bg-secondary p-3" name="primary"
                                    href="{% url 'change_color' mn.pk mn.Color_bg_2 %}"></a>
                                <div class="dropdown-divider m-0"></div>
                                <a class="dropdown-item text-white bg-info p-3" name="info"
                                    href="{% url 'change_color' mn.pk mn.Color_bg_3 %}"></a>
                                <div class="dropdown-divider m-0"></div>
                                <a class="dropdown-item text-white bg-danger p-3" name="danger"
                                    href="{% url 'change_color' mn.pk mn.Color_bg_4 %}"></a>
                                <div class="dropdown-divider m-0"></div>
                                <a class="dropdown-item text-white bg-warning p-3" name="warning"
                                    href="{% url 'change_color' mn.pk mn.Color_bg_5 %}"></a>
                                <div class="dropdown-divider m-0"></div>
                                <a class="dropdown-item text-white bg-success p-3" name="success"
                                    href="{% url 'change_color' mn.pk mn.Color_bg_6 %}"></a>
                                <!-- <div class="dropdown-divider"></div> -->
                                <h6 class="dropdown-header text-dark">Другие функции</h6>
                                <a class="dropdown-item text-white bg-danger"
                                    href="{% url 'delete' mn.pk %}">Удалить</a>

                            </div>
                        </div>

                        <small class="text-dark">{{mn.time_of_creation|date:"d/m/Y H:i" }}</small>


                    </div>

                </div>
            </div>

            {% endfor %}

            {% endif %}
        </div>

    </div>


    <!-- <div class="container">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Card One</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex
                            numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Card Two</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex
                            natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore
                            voluptates quos eligendi labore.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>
        </div>
    </div> -->
    {% endblock one %}


</body>

</html>